sreeg/* 
!sreeg/__init__.py 
!sreeg/interface.py 
!sreeg/simulation.py 
!sreeg/brain.py 
!sreeg/electrodes.py 
!sreeg/equipotential.py 
!sreeg/onedipoleprediction.py 
*.ipynb 
*.png 
*.tar 
reconstructed/ 
topoplots/ 
sources2/ 
sreeg.egg-info/ 
.ipynb_checkpoints/ 
untitled.txt 
sreeg/assets/* 
!sreeg/assets/ 
!sreeg/assets/brain_Lateral_48.png 
!sreeg/assets/brain_Frontal_48.png 
!sreeg/assets/brain_Superior_48.png
